name: Trivy
on:
  push:
    branches:
      - main
      - develop
  pull_request:
jobs:
  scan-code-trivy:
    permissions:
        contents: read
        security-events: write
        actions: read
        pull-requests: write
    name: scan-code-trivy
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: cdk synth
        uses: youyo/aws-cdk-github-actions@v2
        id: synth
        with:
          cdk_subcommand: 'synth'
          actions_comment: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_DEFAULT_REGION: 'us-east-1'
      - name: Run Trivy vulnerability scanner in IaC mode
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'config'
          scan-ref: './cdk.out/'
          hide-progress: false
          format: 'sarif'
          output: 'trivy-results.sarif'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v2
        if: success() || failure() && github.event_name != 'pull_request'
        with:
          sarif_file: 'trivy-results.sarif'